@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    src: url('../assets/fonts/Anonymous Pro.ttf');
    font-family: Anonymous;
}

.box-perfilS img {
    position: relative;
    left: 50%;
    z-index: 1;
    width: 16.9em;
    max-width: none;
    margin-top: 3.2em;
    margin-left: -8.45em;
    opacity: 1;
    font-size: 10vw;
}


* {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--cor-font);
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
}

a {
    cursor: pointer;
}

li {
    list-style: none;
}

ul {
    margin-top: 20px;
}

p {
    line-height: 2.3rem;
    font-weight: 500;
}

img {
    width: 100%;
}

:root {
    --cor-font: #565657;
    --cor-destaque: #1D1D1F;
    --cor-degrade1: #F75FF0;
    --cor-degrade2: #725EFD;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
}

body::-webkit-scrollbar { 
    display: none; 
}

nav {
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid black;
    z-index: 4;
}

.menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
}

.menu-esquerdo a {
    font-size: 1.8rem;
    font-weight: bold;
}

.menu-direito a {
    margin-left: 15px;
    font-weight: 500;
}

.menu-direito a:hover {
    color: var(--cor-degrade2)
}

.box-perfil {
    height: 100vh;
    margin-top: 100px;
    position: relative;
}

.img-pc {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 1s;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.box-img {
    display: flex;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.box-img img {
    object-fit: contain;
    border-radius: 50%;
}

.titulo-perfil {
    text-align: center;
}

.titulo-perfil h2 {
    font-size: 3.5rem;
    line-height: 50px;
}

.titulo-perfil h1 {
    font-size: 5rem;
    position: relative;
}

.titulo-perfil h1::after {
    content: '';
    position: absolute;
    height: 100%;
    border-left: 6px solid var(--cor-degrade2);
    animation: digitando 2s steps(21);
    background: white;
}

.texto-gradient {
    background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 13.02%, 
    #E188C3 25.52%, #A58DE3 37.5%, #56ABEC 49.48%, #737EB7 63.02%, 
    #C8638C 72.92%, #DD5D57 84.38%, #DF6C51 97.92%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.titulo-perfil .segundaAnimacao::after {
    content: '';
    position: absolute;
    height: 100%;
    left: 102%;
    border-left: 6px solid var(--cor-degrade2);
    animation: pular 1s linear infinite;
}

.pulse {
    background: white;
    animation: animate 2.5s linear infinite;
    cursor: pointer;
    transition: all 1s;
}


.box-projetos {
    max-width:400%;
    margin: 100px auto;
}

.box-projetos h1 {
    text-align: center;
    font-size: 4.5rem;
}

.box-videos-projetos {
    padding-top: 50px;
    position: relative;
    overflow: hidden;
    display: flex;
}

figure {
    max-width: 50%;
    transition: 1s;
    right: 0%;
    flex-shrink: 0;
    position: relative;
    border-left: 6px solid black;
    border-right: 6px solid black;
    border-top: 12px solid black;
    border-bottom: 12px solid black;
    display: flex;
    flex-direction: column;
}

figcaption {
    border-top: 12px solid black;
    background-image: url('../assets/img/fundo.jpg');
    background-position: right;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
}

figcaption p {
    font-family: Anonymous;
    color: #F3FAFA;
    text-shadow: 1px 1px 1px black;
    padding-right: 94px;
}

figcaption span {
    display: flex;
    align-items: center;
    font-family: Anonymous;
    color: #F3FAFA;
    text-shadow: 1px 1px 1px black;
    padding-right: 94px;
    line-height: 2.3rem;
}

figcaption span::before {
    content: '';
    display: block;
    width: 30px;
    height: 10px;
    border-radius: 6px 0 0 6px;
    background: #735efd9a;
    margin-right: 10px;
    transition: 0.6s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445)
}

figcaption li:hover span::before {
    width: 50px;
    height: 10px;
}

video {
    width: 100%;
    filter: grayscale(80%);
}

video:hover {
    filter: grayscale(0%);
    z-index: 1;
}

.icone {
    position: absolute;
    top: 35%;
    transform: translate(0%, -35%);
    max-width: 80px;
    z-index: 3;
    cursor: pointer;
}

.proximo {
    right: 50px;
    animation: slideDireita 1s alternate infinite;
}

.anterior {
    left: 50px;
    animation: slideEsquerda 1s alternate infinite;
}

.box-sobre-mim {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    max-height: 400px;
    margin: 100px auto;
}

.texto-sobre-mim {
    width: 60%;
}

.texto-sobre-mim h2 {
    margin-bottom: 30px;
    font-size: 4.5rem;
}

.img-sobre-mim {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.img-sobre-mim img {
    width: max-content;
    height: 90%;
    object-fit: contain;
    border: 6px solid black;
    border-radius: 6px;
    background: var(--cor-degrade2);
    box-shadow: inset 0 150px white;
    filter: grayscale(20%);
}

.box-contatos {
    max-width: 900px;
    margin: 0 auto;
}

.box-contatos a {
    box-shadow: 2px 1px 10px #00000074;
    transition: 0.4s;
}

.box-contatos a:hover {
   transform: scale(0.99);
   box-shadow: none;
}

.box-contatos h2 {
   text-align: center;
   margin-bottom: 30px;
   font-size: 4.5rem;
}

.box-contatos h3 {
    margin-bottom: 5px;
}

.contatos {
    display: flex;
    justify-content: center;
}

.whatsapp {
    margin-right: 60px;
}

.contato {
    display: flex;
    flex: 1;
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
}

.contato img {
    max-width: 50px;
    object-fit: contain;
    margin-right: 10px;
}

footer {
    background: white;
    width: 100%;
    border-top: 1px solid black;
    z-index: 4;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}

footer span {
    font-weight: 700;
}

.menu-sanduiche {
    width: 40px;
    height: 30px;
    display: none;
}

.barrinha-1, .barrinha-2, .barrinha-3 {
    background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 13.02%, 
    #E188C3 25.52%, #A58DE3 37.5%, #56ABEC 80.48%);
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
}

.menu-aberto .menu-sanduiche .barrinha-1 {
    transform: rotate(45deg) translate(7px, 13px);
}

.menu-aberto .menu-sanduiche .barrinha-2 {
    opacity: 0;
}

.menu-aberto .menu-sanduiche .barrinha-3 {
    transform: rotate(-45deg) translate(3px, -9px);
}

@keyframes slideDireita {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(20px);
    }
}

@keyframes slideEsquerda {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-20px);
    }
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 var(--cor-degrade1), 0 0 0 0 var(--cor-degrade2);
    }
    40% {
        box-shadow: 0 0 0 20px rgba(89, 58, 118, 0), 0 0 0 0 var(--cor-degrade2);
    }
    80% {
        box-shadow: 0 0 0 20px rgba(89, 58, 118, 0), 0 0 0 30px rgba(89, 58, 118, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(89, 58, 118, 0), 0 0 0 30px rgba(89, 58, 118, 0);
    }
}

@keyframes digitando {
    from {
        left: 0%;
        width: 100%;
    }
    to {
        left: 102%;
        margin: 0 -35px 0 35px;
        width: 20px;
    }
}

@keyframes pular {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}
